.border{
    border-color: #070707;
}

h4{
    font-style: italic;
    font-size: 12px;
}


h3{
    background: #6082B6;
    font-weight: bold;
    color: white;
    font-family: "Segoe UI";
}

h2{
    font-family: "Segoe UI";
}

img{
    height: 150px;
    width: 150px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.recSize{
    font-family: "Segoe UI";
    font-style: italic;
    color:slategrey
}