/* .search-inputs .slds-col {
    height: 6rem;
}

.search-inputs .slds-button {
    width: 8rem;
} */

.table-container {
    height: 500px;
    max-height: 100%;
}
.status{
    height: 3rem;
    position: relative;
}