.border{
    border-color: #070707;
}

h2{
    font-family: "Segoe UI";
}

h3{
    background: #6082B6;
    font-weight: bold;
    color: white;
    font-family: "Segoe UI";
}


h4{
    font-style: italic;
    font-size: 12px;
}

h5{
    font-style: italic;
    font-size: 9px;
    color: #5c5c5c;
}

.testCSSClass{
    border-color: #c70909
}

.cartNumber{
    border-radius: 0%;
    width: 20px;
    height: 20px;
    padding: 5px;
    background: #6082B6;
    border: 0px solid #000;
    color: white;
    text-align: center;
    font: 15px Segoe UI;
}

.THIS .disabled {
    color: lightgray;
}

.cartSpin::after {
    position: absolute;
    content: 'Adding to Request...';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}