.case-details-header-row {
    z-index: 0;
}

h3{
    background: #6082B6;
    font-weight: bold;
    color: white;
    font-family: "Segoe UI";
}

h2{
    font-size: 15px;
    color:dimgray;
    font-family: 'Segoe UI';
    font-weight: bold;
}

.itemFont{
    font-size: 15px;
    color:dimgray;
    font-family: 'Segoe UI';
    font-weight: bold;
}

.headerSection{
    text-align: center;
}

:host{
    --sds-c-input-color-background: white;
    
}

.tabSection{
    width: 100%;
    height: 350px;
}

.spins::after {
    position: absolute;
    content: 'Adding Comment...';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}

.information {
    font-family: 'Segoe UI';
    font-size: 13px;
}

[data-direct='Approved']{
    background-color: green;
    color: white;
}

[data-direct='Pending']{
    background-color: orange;
    color: black;
}

[data-direct='Rejected']{
    background-color: red;
    color: white;
}