.tablecls {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
 
.tablecls td,
.tablecls th {
    border: 1px solid #ddd;
    padding: 8px;
   
}
 
.tablecls tr:nth-child(even) {
    /*background-color: #f2f2f2;*/
    background-color: white;
}

.tablecls tr:nth-child(odd) {
    /*background-color: #cecbcb;*/
    background-color: white;
}
 
/*.tablecls tr:hover {
    background-color: rgb(248, 166, 43);
    color: rgb(10, 10, 10);
}
 */
.tablecls th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(252, 194, 70);
    color: black;
}

.tablecls td .slds-truncate {
    white-space: normal!important;
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
}